h1,
h2,
h3 {
  color: var(--heading-color);
}
body {
  --background-color: #bcd6e0;
  --text-color: #373d4f;
  --heading-color: #65a0b8;
  --clock-border-color: #a3c6ba;
  --clock-body-color: #f0f5f8;
  --clock-face-color: linear-gradient(to top, #dfe9f3 0%, white 100%);
  --clock-numbers-color: #373d4f;
  --clockHand-background-color: black;
  --clockSecondHand-background-color: red;
  --transition-delay: 0.75s;
  min-height: 100vh;
  background-color: var(--background-color);
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
  font-size: 30px;
  font-weight: 600;
  transition: var(--transition-delay);
}

body.night {
  --background-color: #191a19;
  --text-color: #4e9f3d;
  --heading-color: #191a19;
  --clock-border-color: #4e9f3d;
  --clock-body-color: #262726;
  --clock-face-color: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
  --clock-numbers-color: #4e9f3d;
  --clockHand-background-color: #4e9f3d;
  --clockSecondHand-background-color: #d8e9a8;
}

body.powerPuff {
  --background-color: #f6ebfd;
  --heading-color: #7631eb;
  --text-color: #7631eb;
  --clock-border-color: #f275a4;
  --clock-body-color: linear-gradient(to top, #dfe9f3 0%, white 100%);
  --clock-face-color: linear-gradient(
    123.5deg,
    rgb(244, 219, 251) 29.3%,
    rgb(255, 214, 214) 67.1%
  );
  --clock-numbers-color: #7631eb;
  --clockHand-background-color: #7631eb;
  --clockSecondHand-background-color: #8548ed;
}

body.rowdyRuff {
  --background-color: #383838;
  --clock-border-color: #aeb6c1;
  --clock-body-color: #47505c;
  --clock-face-color: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(110, 136, 161) 90.2%
  );
  --heading-color: #383838;
  --text-color: #aeb6c1;
  --clock-numbers-color: #383838;
  --calendar-font-color: #aeb6c1;
  --clockHand-background-color: #383838;
  --clockSecondHand-background-color: #47505c;
}

body.jewels {
  --background-color: #280f34;
  --clock-border-color: #56206f;
  --clock-body-color: #371547;
  --clock-face-color: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(132, 49, 170) 90.2%
  );
  --heading-color: #280f34;
  --text-color: #b30753;
  --clock-numbers-color: #280f34;
  --calendar-font-color: #b30753;
  --clockHand-background-color: #280f34;
  --clockSecondHand-background-color: #b30753;
}

a.link-dark {
  text-decoration: none;
  color: var(--text-color);
}

.card {
  background-color: var(--background-color);
  transition: var(--transition-delay);
}

.clockBorder {
  margin: 0;
  border: 15px outset var(--clock-border-color);
  max-width: 550px;
}

.clock {
  width: 400px;
  height: 400px;
  background: var(--clock-face-color);
  border-radius: 50%;
  border: 15px outset var(--clock-border-color);
  position: relative;
  transition: var(--transition-delay);
}

.clock .number {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(0);
  font-size: 1.5rem;
}

.number,
.hourMins,
.dayMonthYear {
  color: var(--clock-numbers-color);
}

#num1 {
  transform: rotate(30deg);
}
#num2 {
  transform: rotate(60deg);
}
#num3 {
  transform: rotate(90deg);
}
#num4 {
  transform: rotate(120deg);
}
#num5 {
  transform: rotate(150deg);
}
#num6 {
  transform: rotate(180deg);
}
#num7 {
  transform: rotate(210deg);
}
#num8 {
  transform: rotate(240deg);
}
#num9 {
  transform: rotate(270deg);
}
#num10 {
  transform: rotate(300deg);
}
#num11 {
  transform: rotate(330deg);
}

.clock .hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  background-color: var(--clockHand-background-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 10;
  transform-origin: bottom;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after {
  content: "";
  position: absolute;
  background-color: var(--clockHand-background-color);
  border-radius: 50%;
  z-index: 11;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clock .hand.second {
  width: 3px;
  height: 45%;
  background-color: var(--clockSecondHand-background-color);
}

.clock .hand.minute {
  width: 7px;
  height: 40%;
  background-color: var(--clockHand-background-color);
}

.clock .hand.hour {
  width: 10px;
  height: 35%;
  background-color: var(--clockHand-background-color);
}

.calendar {
  color: var(--calendar-font-color);
}

.clockBody,
.timeHintsContainer,
.timeHints {
  background-color: var(--clock-body-color);
}

.timeHints {
  padding: 10px;
  border: 8px solid var(--clock-border-color);
  margin: 10px;
}

#quoteHolder {
  background: var(--background-color);
  color: var(--text-color);
  border: 15px outset var(--clock-border-color);
}
